<!DOCTYPE html>
<html th:replace="~{base :: parent(~{::#content},~{::#title})}">
<head>
<meta charset="ISO-8859-1">
<title id="title">Login</title>
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

</head>

<body>
	<div id="content" class="bg-gray-200 w-1/2 p-4 mx-auto mt-4">
		<h1 class="text-2 font-bold">Welcome to Login/Signin Page</h1>

		<p>
			Name : <span data-th-text="${name}"></span>
		</p>

		<p>
			Technology : <span data-th-text="${technology}"></span>
		</p>

		<p>
			Number : <span data-th-text="${number}"></span>
		</p>


		<p>
			Github : <a th:href="${github}"><span data-th-text="${github}"></span></a>
		</p>

		<p>Lorem Ipsum is simply dummy text of the printing</p>

		<div>
			<button
				class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue">Click
				Here</button>
		</div>
	</div>





	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>